body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* FUNDO */
  .login-page {
    height: 100vh;
    background: #6f8f95;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* CARD */
  .login-card {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: #4f6d73;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    text-align: center;
  }
  
  /* LOGO */
  .logo {
    color: black;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .logo span {
    color: white;
  }
  
  /* FORM */
  .login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  /* LABEL */
  .login-form label {
    color: #cbd5d8;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  /* INPUT */
  .login-form input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #d9d9d9;
  }
  
  /* LINK */
  .forgot {
    font-size: 12px;
    color: #1e3a8a;
    text-align: right;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  /* BOTÃO */
  .login-form button {
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: #d9d9d9;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transition: 0.2s;
  }
  
  .login-form button:hover {
    transform: translateY(-2px);
  }

  .error {
    color: #ff4d4d;
    font-size: 13px;
    margin-bottom: 10px;
  }